<mat-toolbar> <img src="../../../assets/img/history.png"> &nbsp;Booking History</mat-toolbar>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Pickup Date</th>
        <th scope="col">Dropoff Date</th>
        <th scope="col">Location Address</th>
        <th scope="col">Groupname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">11/15/2018</td>
        <td>11/13/2018</td>
        <td>Pardo Cebu City</td>
        <td>Teletabies squad</td>
      </tr>
      <tr>
        <td scope="row">11/15/2018</td>
        <td>11/13/2018</td>
        <td>Mambaing Cebu City</td>
        <td>CuteSquad</td>
      </tr>
      <tr>
        <td scope="row">11/15/2018</td>
        <td>11/13/2018</td>
        <td>Apas Cebu City</td>
        <td>Oppa</td>
      </tr>
      <tr>
          <td scope="row">11/15/2018</td>
          <td>11/13/2018</td>
          <td>Mambaing Cebu City</td>
          <td>CuteSquad</td>
        </tr>
        <tr>
            <td scope="row">11/15/2018</td>
            <td>11/13/2018</td>
            <td>Pardo Cebu City</td>
            <td>Teletabies squad</td>
          </tr>
    </tbody>
  </table>
</div>