<mat-toolbar> <img src="../../../assets/img/map.png"> &nbsp;Destination Guide</mat-toolbar>
 <br>
<div class="container">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/r1.jpg" height="258" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mangrove ECO Resort</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/r2.jpg" height="258" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Abaca Boutique Resort</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/r3.jpg" height="258" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Amihan Beach Cabanas</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div> <br>
      <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/res4.jpg" height="258" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Abaca Boutique Resort</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/res5.jpg" height="258" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Amihan Beach Cabanas</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/img/res6.jpg" height="258" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Abaca Boutique Resort</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
</div>